Source: gst-perf
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: RidgeRun Developers <support@ridgerun.com>
Build-Depends: debhelper-compat (= 12), devscripts
Standards-Version: 4.5.0
Section: utils

Package: gst-perf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Measure GStreamer pipeline performance
 A GStreamer element to measure framerate, bitrate and CPU usage
